<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>车驿</title>
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/hm_cy.css">
</head> 
<body> 

<header data-am-widget="header" class="am-header cy-header"> 
    <div class="am-header-left am-header-nav">
      <a class="icon-back" href="javascript:history.back()"></a>
    </div> 
    <h1 class="am-header-title">车译技术</h1>
</header>
<div class="container">
    <div id="map" style="height: 200px;"></div>
    <!-- 加气站列表 -->
    <div class="station-wrap" id="station-wrap">
        
    </div>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/template.js"></script>
<script src="../assets/js/md5.js"></script>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=8cf1a81ed325757401fa24e4822e2c25"></script> 

<script src="../assets/js/hm_cy.js"></script>

<script id="gas-item" type="text/html">
    {{each listItems as value i}}
        <div class="station-item">
            <a class="am-block" href="javascript:location.href=preUrl('index/gas_station_detail.html')+'?id={{value.id}}'">
                <div class="station-img">
                    <img src="{{value.img}}">
                    <p>{{value.distance}}km</p>
                    {{if value.disconunt =='1'}}
                        <i class="icon-favor"></i>
                    {{/if}}
                </div>
                <div class="station-cont">
                    <h4 class="am-text-truncate">{{value.name}}</h4>
                    <div class="star-wrap">
                        <p class="am-cf am-margin-0">   
                            <i class="icon-star {{1<=value.star_level?'active':''}}"></i>
                            <i class="icon-star {{2<=value.star_level?'active':''}}"></i> 
                            <i class="icon-star {{3<=value.star_level?'active':''}}"></i>
                            <i class="icon-star {{4<=value.star_level?'active':''}}"></i>
                            <i class="icon-star {{5<=value.star_level?'active':''}}"></i>              
                        </p> 
                    </div>
                    <div class="am-text-default">{{value.price}}元/m³</div>
                    <div class="am-margin-top-xs">
                        {{each value.goods_name.split(',') as name i}}
                        <span class="gas-type">{{name}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="am-padding-top-sm">
                    {{if value.convenient_store=='1'}}
                        <span class="gas-state">便利店</span> 
                    {{/if}}
                    {{if value.maintenance_point=='1'}}
                        <span class="gas-state">维修点</span> 
                    {{/if}}
                    {{if value.status=='1'}}
                        <span class="gas-state">营业</span>
                    {{else}}
                        <span class="gas-state active">停业</span>
                    {{/if}}
                </div>
            </a>
        </div>
    {{/each}}
</script>


<script>
$(function(){
    //初始化地图
    var map = new AMap.Map('map', {
        resizeEnable: true,    
        zoom: 13
    });    
    //定位
    map.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'RB'
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });
    //定位成功完成时
    function onComplete(data) {
        var iconContent = []; //图标数组
        var markers = [];//点标记数组
        console.log(data.addressComponent.city);
        lng = data.position.getLng();
        lat = data.position.getLat();
        console.log(lng);
        console.log(lat);
        //存储经纬度
        var position = {
            lng: lng,
            lat: lat
        };

        setInfo('position', JSON.stringify(position));

        $.ajax({
            type: 'post',
            url: reqUrl('station_list'),
            dataType : "json",  
            data: {
                type: 0,
                lng: data.position.getLng(),
                lat: data.position.getLat()
            },
            async : false ,
            success: function(data){
                if(data.success){

                    var html = template('gas-item', data.infor);

                    $('#station-wrap').html(html);
                    if(data.infor.listItems.length == 0){
                        mask('附近没有加气站');
                        return;
                    }else{
                    
                        for(var i = 0; i<data.infor.listItems.length; i++){
                          var content = '<div class="car-marker"> <span> '+ data.infor.listItems[i].distance +' </span></div';
                          iconContent.push(content);

                          var item = {
                                content: iconContent[i],
                                position: [data.infor.listItems[i].lng, data.infor.listItems[i].lat],
                                map: map
                          }
                          markers.push(item);
                        }
                    }
                }else{
                    mask(data.msg);
                }    
            },
        });
 
        // 添加一些分布不均的点到地图上,地图上添加三个点标记，作为参照
        markers.forEach(function(marker) {
            var mark = new AMap.Marker({
                map: map,
                content: marker.content,
                position: [marker.position[0], marker.position[1]],
            });
        });

        var newCenter = map.setFitView();
        newCenter.getCenter();
    }
    //解析定位错误信息
    function onError(data) {
        document.getElementById('station-wrap').innerHTML = '定位失败';
    }

    

     
  
});
</script>
</body>
</html>
