<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>车驿</title>
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/hm_cy.css">
</head> 
<body> 
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<header data-am-widget="header" class="am-header cy-header n-border"> 
    <div class="am-header-left am-header-nav">
      <a class="icon-back" href="javascript:history.back()"></a>
    </div> 
    <h1 class="am-header-title">我的收藏</h1>
    <div class="am-header-right am-header-nav">
        <a class="j-edit" data="0" href="#">编辑</a>
    </div> 
</header>
<div class="container"> 
    <form action="" class="am-form">  
        <div class="station-wrap" id="collect-list">
            
        </div>

        <div class="am-navbar sc-navbar" id="navbar" style="display: none;">
            <div class="am-padding">
                <input type="checkbox" class="mt check-all" /> <span style="color: #fff">全选</span> 
                <a href="#" class="red-btn-lg am-fr j-cancel">取消收藏</a>
            </div>
        </div>
    </form> 
</div>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/dropload.min.js"></script>
<script src="../assets/js/template.js"></script>
<script src="../assets/js/md5.js"></script>
<script src="../assets/js/hm_cy.js"></script>

<script type="text/html" id="collect-item">
    {{each listItems as value i}}
        <div class="station-item">
            <a class="am-block" href="#">
                <div class="station-img">
                    <img src="{{value.img}}">
                    <p>{{value.distance}}km</p>
                    {{if value.disconunt=="1"}}
                        <i class="icon-favor"></i>
                    {{/if}}
                </div>
                <div class="station-cont">
                    <h4 class="am-text-truncate">{{value.name}}</h4>
                    <div class="star-wrap">
                        <p class="am-cf am-margin-0">
                            <i class="icon-star {{1<=value.star_level?'active':''}}"></i>
                            <i class="icon-star {{2<=value.star_level?'active':''}}"></i> 
                            <i class="icon-star {{3<=value.star_level?'active':''}}"></i>
                            <i class="icon-star {{4<=value.star_level?'active':''}}"></i>
                            <i class="icon-star {{5<=value.star_level?'active':''}}"></i>   
                        </p> 
                    </div>
                    <div class="am-text-default">{{value.price}}元/m³</div>
                    <div class="am-margin-top-xs">
                        {{each value.goods_name.split(',') as name i}}
                        <span class="gas-type">{{name}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="am-padding-top-sm">
                    {{if value.convenient_store=='1'}}
                        <span class="gas-state">便利店</span> 
                    {{/if}}
                    {{if value.maintenance_point=='1'}}
                        <span class="gas-state">维修点</span> 
                    {{/if}}
                    {{if value.status=='1'}}
                        <span class="gas-state">营业</span>
                    {{else}}
                        <span class="gas-state active">停业</span>
                    {{/if}}
                </div>
            </a>
            <input type="checkbox" value="{{value.id}}" name="checkOne" class="mt check-one" />
        </div>
    {{/each}}
</script>

<script type="text/javascript">
$(function(){

    var token = getCookie("token");
    var idString;//保存取消的id字符串

    //当前位置经纬度
    var position = JSON.parse(getInfo('position'));

    $.ajax({
        type: 'POST',
        url: reqUrl('collection_list'),
        data:{
            token: token,
            lng: position.lng,
            lat: position.lat
        },
        dataType: 'json',
        success: function(data){
            console.log(data.msg);
            if(data.error_code == 200){
                window.location.href = preUrl('login/login.html?path=my/collect.html');
            }else if(data.success){

                var content = template('collect-item', data.infor);
                $('#collect-list').append(content);

                //全选操作
                $('.mt').each(function(){
                    $(this).click(function(){
                       if($(this).hasClass('check-all')){
                          $('.check-one').prop('checked',this.checked);
                       }else if(!this.checked){
                          $('.check-all').prop('checked',false);
                       }
                    });  
                });

                //取消收藏
                $('.j-cancel').on('click',function(){
                    var checkItem = $('input:checkbox[name="checkOne"]:checked');
                    var arr = [];
                    checkItem.each(function(){
                        console.log($(this).val());
                        arr.push($(this).val());
                        $(this).parent().remove();
                    });
                    idString = arr.join(',');
                    console.log(idString);
                    return false;
                });
            }else{
                mask(data.msg);
            }
        }
    });


    

    //点击编辑
    $('.j-edit').on('click',function(){
        var data = parseInt( $(this).attr('data') );
        if(data == 0){
            $('.station-wrap').addClass('active');
            $('#navbar').show();
            $(this).html('保存').attr('data','1');
        }else{
            $('.station-wrap').removeClass('active');
            $('#navbar').hide();
            $(this).html('编辑').attr('data','0');

            console.log(idString);
            $.ajax({
                type: 'POST',
                url: reqUrl('del_collection'),
                data:{
                    token: token,
                    station_id: idString
                },
                dataType: 'json',
                success: function(data){
                    if(data.error_code == 200){
                        window.location.href = preUrl('login/login.html?path=my/collect.html');
                    }else if(data.success){
                        mask('取消收藏成功');
                    }else{
                        mask(data.msg);
                    }
                }
            });
        }
    });

});
</script>
</body>
</html>
