<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>车驿</title>
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/hm_cy.css">
  <style type="text/css">
      .order-wrap .station-img{
            margin-top: 0;
      }
  </style>
</head> 
<body> 
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
<header data-am-widget="header" class="am-header cy-header n-border"> 
    <div class="am-header-left am-header-nav">
      <a class="icon-back" href="javascript:history.back()"></a>
    </div> 
    <h1 class="am-header-title">订单详情</h1>
</header>
<div class="container">    
    


</div>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/template.js"></script>
<script src="../assets/js/md5.js"></script>
<script src="../assets/js/hm_cy.js"></script>

<script type="text/html" id="detail-cont">
    <div class="base-wrap order-wrap">
        <div class="base-item">
            <a class="am-block" href="#">
                <div class="station-img">
                    <img src="{{goods_img?goods_img:"../assets/i/c1.jpg"}}">
                </div>
                <div class="goods-item">
                    <h4 class="am-text-truncate">{{goods_name}}</h4>
                    <div class="am-text-default"><span>￥{{unit_price}} </span> <span class="am-text-xs am-padding-left">x<b>{{count}}</b></span> </div>
                    <div class="am-margin-top-xs"><span class="am-text-xs c-grey">{{goods_brief}}</span></div>
                </div>
            </a>
        </div>
        <div class="info-hd">
            领取加气站：<span>{{station_name}}</span>
        </div>
        <div class="info-hd c-block n-border">
            总额：<span>￥{{price}}</span>
        </div>
    </div>

    <!-- 验证信息： -->
    {{if status!=="2"}}
    <div class="am-padding-top-xs">
        <div class="am-padding-xs am-padding-left">验证信息：</div>
        <div class="base-wrap">
            {{if status == 3}}
            <div class="base-item" style="background-color: #f13d3e; color: #fff">核销码：<span>{{code}} </span></div>
            {{else}}
            <div class="base-item" style="background-color: #b6b6b6; color: #fff">核销码：<span>{{code}} </span></div>
            {{/if}}
        </div>
    </div>
    {{/if}}

    <!-- 加气站信息 -->
    <div class="am-padding-top-xs">
        <div class="am-padding-xs am-padding-left">加气站信息：</div>
        <div class="base-wrap">
            <div class="base-item">
                <a class="am-block" href="#">
                    <i class="icon-addr"></i>
                    <span>{{station_address}}</span>
                    <i class="am-fr c-grey-light">></i>
                </a>
            </div>
            <div class="base-item">
                <a class="am-block" href="tel:{{station_phone}}">
                    <i class="icon-phone"></i>
                    <span>{{station_phone}}</span>
                </a>
            </div>
        </div>
    </div>

    <!-- 订单信息： -->
    <div class="am-padding-top-xs">
        <div class="am-padding-xs am-padding-left">订单信息：</div>
        <div class="base-wrap">
            <div class="base-item am-text-xs c-grey-light">
                <div class="am-padding-bottom-xs">订单号： <span>{{order_no}}</span></div>
                <div class="am-padding-bottom-xs">下单时间： <span>{{createtime}}</span></div>
                <div class="am-padding-bottom-xs">金额： <span>￥{{price}}</span></div>
                <div class="am-padding-bottom-xs">订单状态：
                    {{if status=="2"}}
                    <span>待付款</span>
                    {{else if status=="3"}}
                    <span>待核销</span>
                    {{else if status=="4"}}
                    <span>待评价</span>
                    {{else if status =="5"}}
                    <span>已完成</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    {{if status == "2"}}
    <div class="am-navbar sc-navbar am-text-center am-padding-top">
        <a class="red-btn-lg" href="javascript:location.href=preUrl('my/store_pay.html?id={{id}}&price={{price}}&type=3')">去付款</a>
    </div>
    {{else if status == "3"}}    
    <div class="am-navbar sc-navbar am-text-center am-padding-top" id="">
        <a style="color: #fff" href="javascript:;">待核销</a>
    </div>
    {{else if status == "4"}}
    <div class="am-navbar sc-navbar am-text-center am-padding-top-sm" id="">
        <a class="red-btn-lg" href="javascript:location.href=preUrl('my/store_comment.html?id={{id}}&type=3')">去评价</a>
    </div>
    {{else if status == "5"}}
    <div class="am-navbar sc-navbar am-text-center am-padding-top" id="">
        <a class="black-btn active j-del" href="#" style="color: #fff; font-size: 14px">删除订单</a>
    </div>
    {{/if}}
</script>

<script type="text/javascript">
$(function(){
    var para = window.location.search;
    var token = getCookie("token");

    $.ajax({
        type: 'POST',
        url: reqUrl('order_get'),
        data:{
            token: token,
            order_id: GetQueryString('id'),
        },
        dataType: 'json',
        success: function(data){
            if(data.error_code == 200){
                window.location.href = preUrl('login/login.html'+ para +'&path=my/store_order_detail.html');

            }else if(data.success){
                console.log(data.infor);
                var html = template('detail-cont', data.infor[0]);
                $('.container').html(html);

                if(data.infor[0].status == 5){
                    $('.j-del').on('click',function(e){  
                        console.log('ok');
                        var orderId = data.infor[0].order_id;   
                     
                        $.ajax({
                            type: 'POST',
                            url: reqUrl('oper_order'),
                            data:{
                                token: token,
                                order_id: GetQueryString('id'),
                                type: 1
                            },
                            dataType: 'json',
                            success: function(data){
                                if(data.error_code == 200){
                                    window.location.href = preUrl('login/login.html'+ para +'&path=my/store_order_detail.html');
                                }else if(data.success){
                                    console.log(data.msg);
                                    window.location.href = preUrl('my/store_order.html?status=0');
                                }else{
                                    mask(data.msg);
                                }
                            }
                        });

                        return false;
                    });
                }
            }else{
                mask(data.msg);
            }
        }
    });
});
</script>

</body>
</html>
